@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up the full height of the viewport */
}


.wrapper {
    margin: 0;
    position: relative;
    max-width: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: #800000;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

header img {
    height: 45px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
}

ul li a img {
    height: 25px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li a {
    color: #fff;
    font-family: 'Cinzel';
    font-size: 0.8rem;
}


.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}



.bookmark {
    width: 100%;
    background-color: #ffa927;
}

.bookmark p {
    font-size: 1rem;
    padding: 0.5rem;
}

.bookmarkbold {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #800000;
    font-size: 1rem;
}

button {
    color: #800000 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #800000 !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.card-text button:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
}

a:hover {
    text-decoration: underline;
}

.maintext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.maintext h1 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
}


/* footer */
footer{

    width: 100%;
    margin-top: auto;
    padding-top: 50px;
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
    text-decoration: none;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #800000;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: #000;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: #000;
}
a.link:hover{
    color: #800000;
}
.social-icons i:hover{
    color: #800000;
}
.bottom-bar{
    background: #800000;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}


@media (max-width: 768px) {

    
    header {
        align-items: center;
    }

    
    .hamburger {
    display: block;
    }

    .hamburger.active .bar:nth-child(2) {
    opacity: 0;
    }


    .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #800000;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    }

    .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #800000;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    }

    .nav-item {
    margin: 16px 0;
    }

    .nav-menu.active {
    left: 0;
    }



    .maintext h1 {
        font-size: 1.5rem;
    }

    .btn button {
        padding: 10px;
    }
   
    .container {
        width: 100%;
        padding: 0 20px; 
      }
      .footer-content {
        width: 100%;
        text-align: center; 
      }

      .footer-content h3 {
        font-size: 1.3rem;
      }

      .footer-content p {
        font-size: .8rem;
      }

      .list li::before {
        width: 0; 
      }

  }

  @media (max-width: 500px) {

    header {
        flex-direction: column;
        align-items: center;
        padding: .4rem 1rem;
    }

    .maintext h1 {
        font-size: 1rem;
    }

    .btn button {
        padding: 2px;
    }
   


  }